.leftside, .rightside {
    height: 50vh;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .leftside, .rightside {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (min-width: 320px) {
    .Thai_love{
        display: flex;
        
        align-content: center;
        justify-content: center;
        
        
    }
    .After_Work{
        display: flex;

        align-content: center;
        justify-content: center;
        
    }
}
@media screen and (min-width: 1080px) {
    .Thai_love{
        display: flex;
        
        align-content: center;
        justify-content: center;
        
        
    }
    .After_Work{
        display: flex;

        align-content: center;
        justify-content: center;
        
    }
}

    
        
        
        
    


    /* Add this style to center the button */
    .leftside {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        background-color: rgb(234, 184, 102);
    }



    .leftside:hover{
        background-color: rgb(236, 168, 58);
    }
    .rightside{
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        background-color: #000;
    }
    /* === removing default button style ===*/
    .button {
        margin: 0;
        height: auto;
        background: transparent;
        padding: 2px 2px;
        border: none;
        cursor: pointer;
        z-index: 10;
        display: inline-block;
        
    }
    
    /* button styling */
    .button {
        --border-right: 6px;
        --text-stroke-color: rgba(255, 255, 255, 0.6);
        --animation-color: #ffffff;
        --fs-size: 2em;
        letter-spacing: 3px;
        text-decoration: none;
        font-size: var(--fs-size);
        font-family: "Arial";
        position: relative;
        text-transform: uppercase;
        color: transparent;
        -webkit-text-stroke: 1px var(--text-stroke-color);
        z-index: 1;
        
    }
    /* this is the text, when you hover on button */
    .hover-text {
        position: absolute;
        box-sizing: border-box;
        content: attr(data-text);
        color: var(--animation-color);
        width: 0%;
        inset: 0;
        border-right: var(--border-right) solid var(--animation-color);
        overflow: hidden;
        transition: 0.5s;
        -webkit-text-stroke: 1px var(--animation-color);
    }
    /* hover */
    .button:hover .hover-text {
        width: 100%;
        filter: drop-shadow(0 0 23px var(--animation-color))
    }

    .Thai_love , .After_Work{
        width: 200px;
        height: 100%;
        object-fit: contain;
        transition: 0.5s;
        
    }

    .After_Work:hover{
        width: 220px;
        
        
        
    }
    .Thai_love:hover{
        width: 220px;
        
    }
    
    .leftside, .rightside a{
        text-decoration: none;
    }

    img{
        text-decoration: none;
    }



